<style>
    .index-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
</style>
<div class="index-container">
  <img width="100px" height="100px" src="../images/beer.png" alt="">
  <a href="/beers"><button  class="uk-button uk-button-default">Check the Beers!</button></a>
  <a href="/random-beers"><button class="uk-button uk-button-default">Check a random beer</button></a>
</div>